@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Witaj w aplikacji ECommerceApp</h1>
        <br /><br />
        <p style="font-family: 'Montserrat', sans-serif; font-weight:bold;">
            Aplikacja pozwala na wystawienie
            lub zamówienie przedmiotów
        </p>

        <br />
        <div class="col" style="text-align:center;">
            <a asp-controller="Item" asp-action="Index" class="btn btn-outline-info" style="font-family: 'Montserrat', sans-serif; font-weight:bold; font-size:15px;">
                Pokaż przedmioty
            </a>
        </div>
        <div>
            <button class="btn btn-primary" id="show-modal">Pokaż modal</button>
        </div>
    </div>

<script>
    const showModal = document.getElementById('show-modal');
    showModal.onclick = () => modalService.show("Header", "BodyText1234");
</script>