@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Witaj w aplikacji ECommerceApp</h1>
        <br /><br />
        <p style="font-family: 'Montserrat', sans-serif; font-weight:bold;">
            Aplikacja pozwala na wystawienie
            lub zamówienie przedmiotów
        </p>

        <br />
        <div class="col" style="text-align:center;">
            <a asp-controller="Item" asp-action="Index" class="btn btn-outline-info" style="font-family: 'Montserrat', sans-serif; font-weight:bold; font-size:15px;">
                Pokaż przedmioty
            </a>
        </div>
        <div class="mt-2">
            <button id="test-modal" class="btn btn-primary">TEst modal</button>
            <button id="test-conf-modal" class="btn btn-primary">TEst conf modal</button>
        </div>
    </div>
