@model ECommerceApp.Application.ViewModels.User.NewUserVm

@{
    ViewData["Title"] = "AddRolesToUser";
}

<h1>Dodawanie ról użytkownika</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form id="addRolesToUserForm" asp-action="AddRolesToUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" class="form-control" />
            <div class="form-group">
                <label asp-for="UserName" class="control-label">Nazwa</label>
                <input readonly asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input readonly asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input onclick="return false;" class="form-check-input" asp-for="EmailConfirmed" /> Potwierdzony email
                </label>
            </div>
            <div class="col-sm-6">
                <h4>Nadane prawa:</h4>
                <div id="roles" class="mt-2 mb-2">
                    @foreach (var role in Model.Roles)
                    {
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"
                                       name="UserRoles"
                                       value="@role.Name"
                                       @if (Model.UserRoles.Contains(role.Name)) { <text> checked </text> } /> @role.Name
                            </label>
                        </div>
                    }
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Utwórz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Powrót do listy użytkowników</a>
</div>

@section Scripts {
    <script>
        const addRolesToUserFormValidator = {
            formId: "addRolesToUserForm",
            userRoles: {
                controlId: 'roles',
                controlName: 'UserRoles',
                rules: [
                    v => v && v.length > 0 || 'Wymagane jest przypisanie przynajmniej 1 roli użytkownikowi',
                    v => v && v.some(v => v.checked) > 0 || 'Wymagane jest przypisanie przynajmniej 1 roli użytkownikowi',
                ],
                onChange: function (event) {
                    if (this.value.some(v => v.name === event.value)) {
                        const role = this.value.find(v => v.name === event.value);
                        role.checked = event.checked;
                    } else {
                        this.value.push({ name: event.value, checked: event.checked });
                    }

                    if (event.checked) {
                        forms.showValidationError(this.controlId, '');
                        return;
                    }

                    let checkedOption = false;
                    for (const userRole of $('input[name="UserRoles"]')) {
                        if (userRole.checked) {
                            checkedOption = true;
                        }
                    }

                    if (checkedOption) {
                        return;
                    }

                    forms.showValidationError(this.controlId, 'Wymagane jest przypisanie przynajmniej 1 roli użytkownikowi');
                },
                valid: false,
                value: []
            },
        };


        $(document).ready(function () {
            forms.initFormValidator(addRolesToUserFormValidator);
            for (const userRole of $('input[name="UserRoles"]')) {
                addRolesToUserFormValidator.userRoles.value.push({
                    name: userRole.value, checked: userRole.checked
                });
            }
        });
    </script>
}
