@model ECommerceApp.Application.ViewModels.User.NewUserToAddVm

@{
    ViewData["Title"] = "AddUser";
}

<h1>Dodawanie użytkownika</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form id="userForm" asp-action="AddUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input id="LoginInput" asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="EmailConfirmed" /> Potwierdzony Email
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Hasło</label>
                <input id="PasswordInput" type="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="col-sm-6">
                <h4 class="mb-2">Nadaj prawa:</h4>
                <div id="roles">
                    @foreach (var role in Model.Roles)
                    {
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="UserRoles" value="@role.Name" /> @role.Name
                            </label>
                        </div>
                    }
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Utwórz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Powrót do listy użytkowników</a>
</div>

@section Scripts {
    <script>
        const userFormValidator = {
            formId: "userForm",
            login: {
                controlId: 'LoginInput',
                rules: [
                    v => v && v.trim().length > 0 || 'Email jest wymagany',
                    v => v && emailRegex.test(v) || 'Email zawiera niepoprawny format',
                ],
                valid: false,
                value: ''
            },
            password: {
                controlId: 'PasswordInput',
                rules: [
                    v => v && v.trim().length > 0 || 'Hasło jest wymagane',
                    v => v && passwordRegex.test(v) || 'Hasło powinno zawierać 8 znaków w tym dużą i małą literę, cyfrę oraz znak specjalny',
                ],
                valid: false,
                value: ''
            },
            userRoles: {
                controlId: 'roles',
                controlName: 'UserRoles',
                rules: [
                    v => v && v.length > 0 || 'Wymagane jest przypisanie przynajmniej 1 roli użytkownikowi',
                    v => v && v.some(v => v.checked) > 0 || 'Wymagane jest przypisanie przynajmniej 1 roli użytkownikowi',
                ],
                onChange: function (event) {
                    if (this.value.some(v => v.name === event.value)) {
                        const role = this.value.find(v => v.name === event.value);
                        role.checked = event.checked;
                    } else {
                        this.value.push({ name: event.value, checked: event.checked });
                    }

                    if (event.checked) {
                        forms.showValidationError(this.controlId, '');
                        return;
                    }

                    let checkedOption = false;
                    for (const userRole of $('input[name="UserRoles"]')) {
                        if (userRole.checked) {
                            checkedOption = true;
                        }
                    }

                    if (checkedOption) {
                        return;
                    }

                    forms.showValidationError(this.controlId, 'Wymagane jest przypisanie przynajmniej 1 roli użytkownikowi');
                },
                valid: false,
                value: []
            },
        };


        $(document).on('DOMInitialized', function () {
            forms.initFormValidator(userFormValidator);
        });
    </script>
}
