@model ECommerceApp.Application.ViewModels.ContactDetail.NewContactDetailVm

@{
    ViewData["Title"] = "EditContactDetail";
}

<h1>Edycja kontaktu</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditContactDetail">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" value="@Model.Id" class="form-control" />
            <input type="hidden" asp-for="CustomerId" value="@Model.CustomerId" />
            <div class="form-group">
                <label asp-for="ContactDetailInformation" class="control-label">Dane</label>
                <input asp-for="ContactDetailInformation" class="form-control" />
                <span asp-validation-for="ContactDetailInformation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactDetailTypeId" class="control-label">Rodzaj kontaktu</label>
                <select asp-for="ContactDetailTypeId" asp-items="@(new SelectList(Model.ContactDetailTypes,"Id", "Name"))" class="custom-select"></select>
                <span asp-validation-for="ContactDetailTypeId" class="text-danger"></span>
            </div>
            
            <br />
            <div class="form-group">
                <input type="submit" value="Zatwierdź" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br /><br />
<div>
    <a asp-route-id="@Model.CustomerId" asp-action="EditCustomer" asp-controller="Customer">Powrót do danych kontaktowych</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
