@model ECommerceApp.Application.ViewModels.Coupon.CouponVm

@{
    ViewData["Title"] = "AddCoupon";
}

<h1>Nowy kupon</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form id="couponForm" asp-action="AddCoupon">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" class="form-control" />
            <div class="form-group">
                <label asp-for="Code" class="control-label">Kod promocyjny</label>
                <input id="CodeInput" asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discount" class="control-label">Zniżka [%]</label>
                <input id="DiscountInput" asp-for="Discount" class="form-control" />
                <span asp-validation-for="Discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Opis</label>
                <input id="DescriptionInput" asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CouponTypeId" class="control-label">Typ kuponu</label>
                <select id="CouponType" asp-for="CouponTypeId" asp-items="@(new SelectList(ViewBag.CouponTypes,"Id", "Type"))" class="custom-select" data-val="true" value="@Model.CouponTypeId"></select>
                <span asp-validation-for="CouponTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Utwórz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Powrót do listy kuponów</a>
</div>

@section Scripts {
    <script>
        const couponFormValidator = {
            formId: "couponForm",
            code: {
                controlId: 'CodeInput',
                rules: [
                    v => v && v.trim().length > 0 || 'Nazwa kodu jest wymagana',
                ],
                valid: false,
                value: ''
            },
            discount: {
                controlId: 'DiscountInput',
                rules: [
                    v => v && v.trim().length > 0 || 'Zniżka jest wymagana',
                    v => v && !isNaN(v) || 'Zniżka zawiera nieprawidłowy format',
                    v => v && (Number(v) > 0 && Number(v) <= 99) || 'Zniżka powinna zawierać się w przedziale od 1 do 99',
                ],
                valid: false,
                value: ''
            },
            description: {
                controlId: 'DescriptionInput',
                rules: [
                    v => v && v.trim().length > 0 || 'Opis kuponu jest wymagany',
                    v => v && v.trim().length <= 255 || 'Opis kuponu nie może być dłuższy niż 255 znaków',
                ],
                valid: false,
                value: ''
            },
        };

        $(document).ready(function () {
            forms.initFormValidator(couponFormValidator);
        });
    </script>
}
