@model ECommerceApp.Application.ViewModels.Coupon.NewCouponVm

@{
    ViewData["Title"] = "EditCoupon";
}

<h1>EditCoupon</h1>

<h4>NewCouponVm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditCoupon">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" class="form-control" />
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discount" class="control-label"></label>
                <input asp-for="Discount" class="form-control" />
                <span asp-validation-for="Discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CouponTypeId" class="control-label"></label>
                <select id="CouponType" asp-for="CouponTypeId" asp-items="@(new SelectList(ViewBag.CouponTypes,"Id", "Type"))" class="custom-select" data-val="true" value="@Model.CouponTypeId"></select>
                <span asp-validation-for="CouponTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CouponUsedId" class="control-label"></label>
                <select id="CouponType" asp-for="CouponUsedId" asp-items="@(new SelectList(ViewBag.CouponsUsed,"Id", "Number"))" class="custom-select" data-val="true" value="@Model.CouponUsedId"></select>
                <span asp-validation-for="CouponUsedId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Powrót do listy kuponów</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
