@model ECommerceApp.Application.ViewModels.Order.NewPaymentVm

@{
    ViewData["Title"] = "Payment";
}

<h1>Realizacja płatności</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Payment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" value ="0" class="form-control" />
            <div class="form-group">
                <label asp-for="Number" class="control-label">Numer płatności</label>
                <input readonly asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfOrderPayment" class="control-label">Data płatności</label>
                <input readonly asp-for="DateOfOrderPayment" class="form-control" />
                <span asp-validation-for="DateOfOrderPayment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerName" class="control-label">Klient</label>
                <input readonly asp-for="CustomerName" class="form-control" />
                <span asp-validation-for="CustomerName" class="text-danger"></span>
                <label style="display:none;" asp-for="CustomerId" class="control-label"></label>
                <input type="hidden" asp-for="CustomerId" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="OrderNumber" class="control-label">Numer zamówienia</label>
                <input readonly asp-for="OrderNumber" class="form-control" />
                <span asp-validation-for="OrderNumber" class="text-danger"></span>
                <label style="display:none;" asp-for="OrderId" class="control-label"></label>
                <input type="hidden" asp-for="OrderId" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="OrderCost" class="control-label">Koszt zamówienia</label>
                <input readonly asp-for="OrderCost" class="form-control" />
                <span asp-validation-for="OrderCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapłać" class="btn btn-success" />
                <a asp-action="Index"><input type="button" readonly value="Anuluj" class="btn btn-warning" /></a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Wróć do listy zamówień</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
