@model ECommerceApp.Application.ViewModels.CouponUsed.CouponUsedVm

@{
    ViewData["Title"] = "EditCouponUsed";
}

<h1>Edycja kuponu użytego</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditCouponUsed">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" class="form-control" />
            <div class="form-group">
                <label asp-for="CouponId" class="control-label"></label>
                <select id="CouponType" asp-for="CouponId" asp-items="@(new SelectList(ViewBag.Coupons,"Id", "Description"))" class="show-tick form-control data-search" data-val="true" value="@Model.CouponId"></select>
                <span asp-validation-for="CouponId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderId" class="control-label"></label>
                <select id="Order" asp-for="OrderId" asp-items="@(new SelectList(ViewBag.Orders,"Id", "Number"))" class="show-tick form-control data-search" data-val="true" value="@Model.OrderId"></select>
                <span asp-validation-for="OrderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zatwierdź" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Powrót do listy użytych kuponów</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
