<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ECommerceApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/fontawesome.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/brands.min.css">
    <link rel="stylesheet" href="~/lib/fontawesome/css/solid.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-2">
            <div class="container">
                <div class="navbar">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ECommerceApp</a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
                                <div class="d-flex flex-column align-items-center">
                                    <i class="fa-solid fa-house fa-2x"></i>
                                    Home
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Item" asp-action="Index">
                                <div class="d-flex flex-column align-items-center">
                                    <i class="fa-solid fa-cubes fa-2x"></i>
                                    Przedmioty
                                </div>
                            </a>
                        </li>
                        @using ECommerceApp.Domain.Model;
                        @using ECommerceApp.Infrastructure.Permissions;
                        @using Microsoft.AspNetCore.Identity
                        @inject SignInManager<ApplicationUser> SignInManager
                        @inject UserManager<ApplicationUser> UserManager
                        @using System.Security.Claims;
                        @if (SignInManager.IsSignedIn(User))
                        {
                            @if (User.IsInRole(UserPermissions.Roles.Administrator) || User.IsInRole(UserPermissions.Roles.Manager) || User.IsInRole(UserPermissions.Roles.Service) || User.IsInRole(UserPermissions.Roles.User))
                            {
                                <li class="nav-item">
                                    <div>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Order" asp-action="ShowMyCart">
                                            <div class="d-flex flex-column align-items-center">
                                                <div class="d-flex">
                                                    <span id="itemCount" class="position-absolute top-0 left-position translate-middle badge rounded-pill badge badge-light"></span>
                                                    <i class="fas fa-shopping-cart fa-2x"></i>
                                                </div>
                                                Koszyk
                                            </div>

                                        </a>
                                    </div>
                                </li>
                            }
                            @if (User.IsInRole(UserPermissions.Roles.Administrator) || User.IsInRole(UserPermissions.Roles.Manager) || User.IsInRole(UserPermissions.Roles.Service) || User.IsInRole(UserPermissions.Roles.User))
                            {
                                <li class="nav-item">
                                    <div>
                                        <a class="nav-link text-dark waves-effect" asp-area="" asp-controller="Order" asp-action="ShowMyOrders">
                                            <div class="d-flex flex-column align-items-center">
                                                <i class="fa-solid fa-pen-to-square fa-2x"></i>
                                                Moje zamówienia
                                            </div>
                                        </a>
                                    </div>
                                </li>
                            }
                            @if (User.IsInRole(UserPermissions.Roles.Administrator) || User.IsInRole(UserPermissions.Roles.Manager) || User.IsInRole(UserPermissions.Roles.Service) || User.IsInRole(UserPermissions.Roles.User))
                            {
                                <li class="nav-item">
                                    <div>
                                        <a class="nav-link text-dark waves-effect" asp-area="" asp-controller="Customer" asp-action="Index">
                                            <div class="d-flex flex-column align-items-center">
                                                <i class="fa-solid fa-address-card fa-2x"></i>
                                                Dane kontaktowe
                                            </div>
                                        </a>
                                    </div>
                                </li>
                            }
                            @if (User.IsInRole(UserPermissions.Roles.Administrator) || User.IsInRole(UserPermissions.Roles.Manager) || User.IsInRole(UserPermissions.Roles.Service))
                            {
                                <li class="nav-item">
                                    <div>
                                        <a class="nav-link hover_drop_down text-dark" asp-area="" asp-controller="Order" asp-action="Index">
                                            <div class="d-flex flex-column align-items-center">
                                                <i class="fa-solid fa-list-check fa-2x"></i>
                                                Zamówienia
                                            </div>
                                        </a>
                                        <ul class="dropdown">
                                            <li><a asp-controller="Currency" asp-action="Index">Waluty</a></li>
                                            <li><a asp-controller="Order" asp-action="ShowOrdersPaid">Wydania</a></li>
                                        </ul>
                                    </div>
                                </li>
                            }
                            @if (User.IsInRole(UserPermissions.Roles.Administrator) || User.IsInRole(UserPermissions.Roles.Manager))
                            {
                                <li class="nav-item">
                                    <div>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Coupon" asp-action="Index">
                                            <div class="d-flex flex-column align-items-center">
                                                <i class="fa-solid fa-percent fa-2x"></i>
                                                Kupony
                                            </div>
                                        </a>
                                    </div>
                                </li>
                            }
                            @if (User.IsInRole(UserPermissions.Roles.Administrator))
                            {
                                <li class="nav-item">
                                    <div>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="UserManagement" asp-action="Index">
                                            <div class="d-flex flex-column align-items-center">
                                                <i class="fa-solid fa-users fa-2x"></i>
                                                Zarządzanie użytkownikami
                                            </div>
                                        </a>
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="container-fluid row">
                <div class="col text-left">
                    &copy; 2021 - ECommerceApp.Web
                </div>

                <div class="col text-center">
                    Created by Kamil Wojtasinski
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/mvc/4.0/jquery.validate.unobtrusive.min.js"></script>
    <script>

        $(document).ready(function () {
            var itemCount = document.getElementById("itemCount");

            if (!itemCount) {
                return;
            }

            ajaxRequest.send("/OrderItem/OrderItemCount", "GET", undefined, "application/json", "json")
                        .then(response => { 
                            if (response.count > 0) {
                                itemCount.innerHTML = response.count;
                            }
                        });
        });
    </script>
    <style type="text/css">
        .badge.badge-light {
            color: #0077cc
        }

        ul {
            padding: 0;
            list-style: none;
        }
        ul li {
            display: inline-block;
            position: relative;
            line-height: 21px;
            text-align: left;
        }
        ul li a {
            display: block;
            padding: 8px 25px;
            color: #333;
            text-decoration: none;
        }
        ul li a:hover {
            color: #fff;
        }
        ul li ul.dropdown {
            min-width: 100%; /* Set width of the dropdown */
            background: #939393;
            display: none;
            position: absolute;
            z-index: 999;
            left: 0;
        }
        ul li:hover ul.dropdown {
            display: block; /* Display the dropdown */
        }
        ul li ul.dropdown li {
            display: block;
        }

        @@media (min-width: 576px) {
            .left-position {
                left: 60% !important;
            }
        }

        .left-position {
            left: 50%;
        }

        .top-0 {
            top: 0 !important;
        }

    </style>
    @RenderSection("Scripts", required: false)
</body>
</html>
