<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ECommerceApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-2">
            <div class="container">
                <div class="navbar col-sm-3">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ECommerceApp</a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse col-sm-3">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <!--
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </li>
        -->
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Item" asp-action="Index">Przedmioty</a>
                        </li>
@using ECommerceApp.Domain.Model;
                        @using Microsoft.AspNetCore.Identity
                        @inject SignInManager<ApplicationUser> SignInManager
                        @inject UserManager<ApplicationUser> UserManager
                        @using System.Security.Claims;
                        @if (SignInManager.IsSignedIn(User))
                        {
                            @if (User.IsInRole("Administrator") || User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("Service") || User.IsInRole("User"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link waves-effect" asp-area="" asp-controller="Order" asp-action="ShowMyCart">
                                        <span id="itemCount" class="badge badge-light z-depth-1 mr-1"> </span>
                                        <i class="fas fa-shopping-cart"></i>
                                        <span class="clearfix d-none d-sm-inline-block">Koszyk</span>
                                    </a>
                                </li>
                            }
                            @if (User.IsInRole("Administrator") || User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("Service") || User.IsInRole("User"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark waves-effect" asp-area="" asp-controller="Order" asp-action="ShowMyOrders">Moje zamówienia</a>
                                </li>
                            }
                            @if (User.IsInRole("Administrator") || User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("Service") || User.IsInRole("User"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark waves-effect" asp-area="" asp-controller="Customer" asp-action="Index">Dane kontaktowe</a>
                                </li>
                            }
                            @if (User.IsInRole("Administrator") || User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("Service"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link hover_drop_down text-dark" asp-area="" asp-controller="Order" asp-action="Index">Zamówienia</a>
                                    <ul class="dropdown">
                                        <li><a asp-controller="Currency" asp-action="Index">Waluty</a></li>
                                        <li><a asp-controller="Order" asp-action="ShowOrdersPaid">Wydania</a></li>
                                    </ul>
                                </li>
                            }
                            @if (User.IsInRole("Administrator") || User.IsInRole("Admin") || User.IsInRole("Manager"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Coupon" asp-action="Index">Kupony</a>
                                </li>
                            }
                            @if (User.IsInRole("Administrator") || User.IsInRole("Admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="UserRoles" asp-action="Index">Zarządzanie użytkownikami</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="container-fluid row">
                <div class="col text-left">
                    &copy; 2021 - ECommerceApp.Web
                </div>

                <div class="col text-center">
                    Created by Kamil Wojtasinski
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/mvc/4.0/jquery.validate.unobtrusive.min.js"></script>
    <script>

        $(document).ready(function () {
            var span = document.getElementById("itemCount");
            console.log(span);
            if (span != null) {
                console.log("span!=null");
                $.ajax({
                    url: "/OrderItem/OrderItemCount",
                    type: "GET",
                    dataType: "json",
                    contentType: "application/json",
                    success: function (question) {
                        console.log(question);
                        console.log(question.count);
                        if (question.count > 0) {
                            span.innerHTML = question.count;
                        }
                    },
                    error: function () {
                       // alert("Error");
                    }
                });
            };
        });
    </script>
    <style type="text/css">
        .badge.badge-light {
            color: #0077cc
        }

        ul {
            padding: 0;
            list-style: none;
        }
        ul li {
            display: inline-block;
            position: relative;
            line-height: 21px;
            text-align: left;
        }
        ul li a {
            display: block;
            padding: 8px 25px;
            color: #333;
            text-decoration: none;
        }
        ul li a:hover {
            color: #fff;
        }
        ul li ul.dropdown {
            min-width: 100%; /* Set width of the dropdown */
            background: #939393;
            display: none;
            position: absolute;
            z-index: 999;
            left: 0;
        }
        ul li:hover ul.dropdown {
            display: block; /* Display the dropdown */
        }
        ul li ul.dropdown li {
            display: block;
        }
    </style>
    @RenderSection("Scripts", required: false)
</body>
</html>
