@model ECommerceApp.Application.ViewModels.Currency.CurrencyVm

<h4>Edycja waluty @Model.Currency.Code</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="currencyForm" asp-action="EditCurrency">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             <div class="form-group">
                <input type="hidden" asp-for="Currency.Id" class="form-control" />
                <span asp-validation-for="Currency.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Currency.Code" class="control-label">Kod:</label>
                <input id="CurrencyCodeInput" asp-for="Currency.Code" class="form-control" />
                <span asp-validation-for="Currency.Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Currency.Description" class="control-label">Opis:</label>
                <input id="CurrencyDescriptionInput" asp-for="Currency.Description" class="form-control" />
                <span asp-validation-for="Currency.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Wróć do listy walut</a>
</div>

@section Scripts {
    <script>
        const currencyFormValidator = {
            formId: "currencyForm",
            code: {
                controlId: 'CurrencyCodeInput',
                rules: [
                    v => v && v.trim().length > 0 || 'Kod waluty jest wymagany',
                    v => v && v.trim().length === 3 || 'Kod waluty powinien zawierać 3 znaki',
                ],
                valid: false,
                value: ''
            },
            description: {
                controlId: 'CurrencyDescriptionInput',
                rules: [
                    v => v && v.trim().length > 0 || 'Opis jest wymagany',
                    v => v && v.trim().length > 3 || 'Opis powinien zawierać więcej niż 2 znaki',
                    v => v && v.trim().length < 255 || 'Opis powinien zawierać maksymalnie 255 znaków',
                ],
                valid: false,
                value: ''
            }
        };

        $(document).on('DOMInitialized', function () {
            forms.initFormValidator(currencyFormValidator);
        });
    </script>
}
